<?xml version="1.0" encoding="utf-8"?>

<!--
  ASP.NET アプリケーションの構成方法の詳細については、
  https://go.microsoft.com/fwlink/?LinkId=169433 を参照してください
  -->
<configuration>
  <connectionStrings>
    <add name="ELEPHANTS_TESTConnectionString"
      connectionString="Data Source=localhost\SQLEXPRESS;Initial Catalog=ELEPHANTS_TEST;Persist Security Info=True;User ID=sakaguchi;Password=ohanaganagai"
      providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.6.1"/>
    <httpRuntime targetFramework="4.6.1"/>
  </system.web>

</configuration>
